name: Build Flutter App

on:
  push:
    branches: [ flutter-migration ]
  pull_request:
    branches: [ flutter-migration ]

jobs:
  build-android:
    name: Build Android
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./apps/flutter_client
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: flutter build apk --release

  build-windows:
    name: Build Windows
    runs-on: windows-latest
    defaults:
      run:
        working-directory: ./apps/flutter_client
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter config --enable-windows-desktop
      - run: flutter pub get
      - run: flutter build windows --release

  build-macos:
    name: Build macOS
    runs-on: macos-latest
    defaults:
      run:
        working-directory: ./apps/flutter_client
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter config --enable-macos-desktop
      - run: flutter pub get
      - run: flutter build macos --release --no-codesign

  build-ios:
    name: Build iOS (No Codesign)
    runs-on: macos-latest
    defaults:
      run:
        working-directory: ./apps/flutter_client
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: flutter build ios --release --no-codesign
